.list {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.profile-info {
    display: flex;
    margin-top: 0;
    gap: 5px;
}

.personal-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid white;
    width: 100%;
    background-color: azure;
    color: darkslategray;
    border-radius: 10px;

}

.personal-details p {
    margin-left: 7px;
}

.large-text {
    font-size: 25px;
    font-weight: 600;
}

.large-text span {
    font-size: 14px;
}