.list {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.profile-info {
    display: flex;
    margin-top: 0;
    gap: 5px;
}

.personal-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid white;
    width: 100%;
    background-color: azure;
    color: darkslategray;
    border-radius: 10px;

}

.personal-details p {
    margin-left: 7px;
}

.large-text {
    font-size: 25px;
    font-weight: 600;
}

.large-text span {
    font-size: 14px;
}

.exercise-detail {
    width: 100%;
    background-color: azure;
    border: 1px solid azure;
    color: darkslategray;
    border-radius: 10px;
    padding: 7px 5px;

}

.break-time {
    border: 1px solid azure;
    background-color: azure;
    padding: 15px 5px;
    border-radius: 10px;
}

button {
    padding: 8px;
    border-radius: 20px;
    margin-left: 3px;
}

.toast {
    margin-left: 50px;
    text-align: center;
    background-color: rgb(51, 108, 108);
    color: white;
}

@media screen and (max-width:576px) {
    .personal-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}